# GestionEvenements

 
/FrontEnd/bin
/Backend/obj
/Backend/bin
/FrontEnd/obj
/.vs
.vs/GestionEvenements/DesignTimeBuild/.dtbcache.v2
.vs/GestionEvenements/v17/.futdcache.v1
.vs/GestionEvenements/v17/.suo
*.v2
Backend/bin/Debug/net6.0/Backend.dll
Backend/bin/Debug/net6.0/Backend.pdb
Backend/obj/Debug/net6.0/Backend.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net6.0/Backend.csproj.FileListAbsolute.txt
Backend/obj/Debug/net6.0/Backend.dll
/Backend/bin
/Backend/bin
